.snakemake/*

*.faa
*.fna
*.ffa
*.fa
*.fasta

*.tmp
*.sam
*.bam

*.pac
*.sa
*.amb
*.ann
*.bwt
*.fai

logs/*

00_genomes/*
01_prokka/*
02_orthofinder/*
03_aligned_orthogroups/*
04_pruned_and_concat_alignments/*

*/OrthoFinder/*

assembly_summary_genbank.txt
